[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"
urllib-ext = "*"
twine = "*"

[packages]
argparse_logging = "*"
cryptography = "*"
sqlalchemy = "*"
tabulate = "*"
pymysql = "*"
gpg-lite = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
