[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flake8 = "*"
mypy = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
tabulate = "*"
cryptography = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
